MP_ACCESS_TOKEN=
GAMEFLIP_API_KEY=
GAMEFLIP_TOTP_SECRET=
GOOGLE_CLIENT_SECRET=
CLOUDFLARE_TURNSTILE_SITEKEY=
CLOUDFLARE_TURNSTILE_SECRETKEY=
DATABASE_URL=
SESSION_SECRET=
APP_URL=

# CJ Dropshipping API Settings
CJ_ACCESS_TOKEN=

# OpenAI settings (add your key here)
OPENAI_API_KEY=
OPENAI_MODEL=gpt-3.5-turbo